argoNamespace: argocd
argoApplication: argocd
argo-cd:
  global:
    domain: argo.jacky.cloud
    logging:
      format: json
      level: warn
  configs:
    params:
      controller.diff.server.side: "true"
      controller.operation.processors: "5"
      controller.status.processors: "10"
    cm:
      exec.enabled: true
      kustomize.buildOptions: --enable-helm
      resource.exclusions: |
        - apiGroups:
            - kyverno.io
          kinds:
            - AdmissionReport
            - BackgroundScanReport
            - ClusterAdmissionReport
            - ClusterBackgroundScanReport
          clusters:
            - '*'
      admin.enabled: "false"
      users.session.duration: "24h"
      accounts.image-updater: apiKey
    rbac:
      create: false
      resource.customizations.ignoreDifferences.PersistentVolume: |
        jsonPointers:
        - /spec/claimRef/resourceVersion
        - /spec/claimRef/uid
        - /status/lastPhaseTransitionTime
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 2
      targetCPUUtilizationPercentage: 75
      targetMemoryUtilizationPercentage: 75
    pdb:
      enabled: true
      minAvailable: 1
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
      limits:
        cpu: 500m
        memory: 200Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  controller:
    replicas: 1
    resources:
      requests:
        cpu: 100m
      limits:
        memory: 100Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

  repoServer:
    podLabels:
      logging: enabled
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 1
      targetCPUUtilizationPercentage: 75
      targetMemoryUtilizationPercentage: 75
    resources:
      requests:
        cpu: 0.1
        memory: 100Mi
      limits:
        cpu: 0.2
        memory: 100Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  applicationSet:
    replicas: 2
    pdb:
      enabled: true
      minAvailable: 1
    resources:
      requests:
        cpu: 0.1
        memory: 100Mi
      limits:
        cpu: 0.3
        memory: 100Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  dex:
    pdb:
      enabled: true
      minAvailable: 1
    resources:
      requests:
        cpu: 10m
        memory: 40Mi
      limits:
        cpu: 50m
        memory: 64Mi
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  notifications:
    pdb:
      enabled: true
      minAvailable: 1
    resources:
      requests:
        cpu: 50m
        memory: 50Mi
      limits:
        cpu: 100m
        memory: 50Mi
  redis:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
  redis-ha:
    enabled: true
    init:
      resources:
        requests:
          cpu: 10m
          memory: 20Mi
        limits:
          cpu: 50m
          memory: 20Mi
    haproxy:
      resources:
        requests:
          memory: 50Mi
          cpu: 30m
        limits:
          memory: 50Mi
          cpu: 100m
      podDisruptionBudget:
        minAvailable: 1
    redis:
      resources:
        requests:
          memory: 100Mi
          cpu: 30m
        limits:
          memory: 100Mi
          cpu: 1
    sentinel:
      resources:
        requests:
          cpu: 50m
          memory: 50Mi
        limits:
          cpu: 1.5
          memory: 50Mi
    splitBrainDetection:
      resources:
        requests:
          cpu: 0.1
          memory: 20Mi
        limits:
          cpu: 0.1
          memory: 20Mi
